body {
    direction: rtl;
    text-align: right;
    font-family: "iranyekan";
    font-size: 12px;
}
.fa {
    vertical-align: middle;
}
a:hover {
    text-decoration: unset;
}
header {
    .main-header {
        padding: {
            top: 10px;
            bottom: 10px;
        }
        .search-form {
            input {
                background: #f1f1f1;
                border: 1px solid #999;
                width: 80%;
                padding: 5px 10px;
                border-radius: 0 10px 10px 0;
            }
            button {
                padding: 5px 10px;
                border: 1px solid #f16670;
                background: #f16670;
                color: #fff;
                border-radius: 10px 0 0 10px;
                margin-right: -5px;
            }
        }
        .user-login {
            text-align: left;
            border-left: 1px solid #999;
            padding-left: 20px;
            a {
                color: #666;
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
    .main-menu {
        background: #333;
        .container > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;
            > li {
                display: inline-block;
                margin-left: 10px;
                position: static;
                > a {
                    display: block;
                    padding: 10px 5px;
                    color: #fff;
                    border-bottom: 2px solid transparent;
                    transition: all 500ms;
                    &:hover {
                        text-decoration: unset;
                        border-bottom-color: #f16670;
                        background: #666;
                    }
                }
                &:hover {
                    .mega-menu {
                        opacity: 1;
                        visibility: visible;
                        // transform: rotateX(0);
                    }
                }
                .mega-menu {
                    background: #fff;
                    position: absolute;
                    width: 100%;
                    box-shadow: 0 0 5px #ccc;
                    padding: 15px 0;
                    border-radius: 0 0 10px 10px;
                    opacity: 0;
                    // transform: rotateX(90deg);
                    visibility: hidden;
                    z-index: 101;
                    transition: all 300ms;
                    ul {
                        list-style: none;
                        li {
                            margin-bottom: 5px;
                            a {
                                display: block;
                                color: #333;
                                &:hover {
                                    text-decoration: unset;
                                    font-weight: 700;
                                }
                            }
                            &:first-child {
                                a {
                                    color: #1ca2bd;
                                    border-bottom: 1px dashed transparent;
                                    &:hover {
                                        border-bottom-color: #1ca2bd;
                                    }
                                    &:before {
                                        content: "\f104";
                                        font-family: "Font Awesome 5 Free";
                                        font-weight: 900;
                                        margin-right: -15px;
                                        padding-left: 8px;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
main {
    .sliders {
        .arrow {
            position: absolute;
            z-index: 100;
            background: unset;
            border: unset;
            color: #fff;
            text-shadow: 0 3px 7px #000;
            font-size: 32px;
            line-height: 0;
            top: 50%;
            transform: translateY(-50%);
            &.prev {
                left: 15px;
            }
            &.next {
                right: 15px;
            }
            &:focus {
                outline: unset;
            }
        }
        .slick-dots {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            right: 0;
            left: 0;
            text-align: center;
            bottom: 20px;
            li {
                display: inline-block;
                button {
                    line-height: 0;
                    font-size: 0;
                    background: unset;
                    border: unset;
                    &:after {
                        content: "";
                        display: block;
                        background: #fff;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                    &:focus {
                        outline: unset;
                    }
                }
                &.slick-active {
                    button:after {
                        background: #1ca2bd;
                    }
                }
            }
        }
    }
}